* {
  font-family: "Roboto", sans-serif;
}

*:focus {
  outline: 0;
}

.main-image {
  height: 315px;
  width: 100%;
  background-image: url("../assets/rio-bg.png");
  background-size: cover;
  background-position: center;
}

@media (max-width: 500px) {
  .main-image {
    height: 423px;
  }
}

.navbar {
  padding-bottom: 0;
}

@media (max-width: 764px) {
  .navbar {
    padding-bottom: 8px;
  }
}

.navbar .nav-item a {
  color: #293953 !important;
  height: 50px;
  margin-right: 30px;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar .nav-item a:hover {
  color: #2375f1 !important;
}

.navbar .nav-item.active a {
  color: #2375f1 !important;
  border-bottom: 5px solid #2375f1;
}

.navbar .navbar-brand {
  padding: 0;
}

.venha-viajar {
  background-color: #293953;
  color: #ffffff;
  height: min(max(50vw, 487px), 685px);
}

.venha-viajar div {
  width: 65%;
}

@media (max-width: 1080px) {
  .venha-viajar div {
    width: 100%;
  }
}

.venha-viajar div button {
  background-color: #ff2525;
  color: #ffffff;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.venha-viajar div button:hover {
  background-color: #d80000;
}

.venha-viajar-img {
  width: 100%;
  background-image: url("../assets/venha-viajar.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 376px;
  max-height: 685px;
}

footer {
  background-color: #293953;
  color: #ffffff;
}

footer hr {
  border-top: 1px solid #ffffff;
}

footer .row > div h4 {
  text-transform: uppercase;
}

footer .row > div a {
  color: #ffffff;
  font-weight: 300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 768px) {
  footer .row > div a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

footer .row > div a:hover {
  color: #d9d9d9;
  text-decoration: none;
}

.section-title {
  font-weight: 400;
  color: #293953;
  font-size: min(max(3vw, 26px), 32px);
}

.estados {
  padding: 0px 50px;
}

.estados .slick-slide {
  position: relative;
  margin: 0px 10px;
  height: 260px;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: inset 0px -75px 30px -27px rgba(0, 0, 0, 0.41);
  box-shadow: inset 0px -75px 30px -27px rgba(0, 0, 0, 0.41);
}

.estados .slick-slide:hover {
  -webkit-box-shadow: inset 0px -105px 30px -27px rgba(0, 0, 0, 0.53);
  box-shadow: inset 0px -105px 30px -27px rgba(0, 0, 0, 0.53);
}

.estados .slick-slide img {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.estados .slick-slide span {
  position: absolute;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  left: 20px;
  bottom: 10px;
}

.atividades {
  padding: 0px 50px;
}

.atividades .card {
  border-radius: 10px;
  margin: 0px 9px;
}

.atividades .card .img-container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 209px;
  overflow: hidden;
}

.atividades .card img {
  min-width: 100%;
  max-height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.atividades .card .card-body {
  height: calc(100% - 209px);
}

.atividades .card p {
  font-size: 14px;
  line-height: 16px;
}

.atividades .card hr {
  margin-left: 0;
  margin-right: 0;
}

.atividades .card .card-title,
.atividades .card h4 {
  color: #293953;
}

.atividades .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.atividades .slick-slide {
  height: inherit !important;
}

.slick-slider {
  position: relative;
}

.slick-arrow {
  background: 0 0;
  fill: #293953;
  font-size: 0;
  height: 38px;
  cursor: pointer;
  position: absolute;
  text-align: center;
  top: 130px;
  width: 38px;
  z-index: 10;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slick-arrow:hover {
  fill: #dbdbdb;
}

.arrow-next {
  right: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow-prev {
  left: 10px;
}

.slick-dots {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li button {
  border: 0;
  padding: 0;
  margin: 7.5px;
  height: 12px;
  width: 12px;
  font-size: 0;
  border-radius: 50%;
  outline: 0 !important;
  background-color: #dbdbdb;
}

.slick-dots li button:hover {
  background-color: #c2c2c2;
}

.slick-dots li.slick-active button {
  background-color: #293953;
}

@media (max-width: 500px) {
  .atividades,
  .estados {
    padding-right: 20px;
    padding-left: 20px;
  }
  .slick-arrow {
    background-color: #ffffff;
    padding: 7px 5px;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
  }
}
